* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgb(32, 32, 32);
}

#app {
  width: 100%;
  height: 100vh;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: none;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #3c485e;
}

#section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: calc(1.5rem + ((1vw - 0.48rem) * 2.5));
}

.intro{
  background: rgba(100,100,100,0.12);
  padding: 1%;
}

.intro a{
  background: linear-gradient(to right, rgb(41, 128, 185, 0.35), rgb(44, 62, 80, 0.15));
  text-decoration: none;
  padding: 0% 1%;

  color: #ffffff;
  font-size: 150%;
}
